body {
    /* border: 2px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    /* background-color: #ccc; */


}

.user-input-container {

    border: none;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-num-squares {
    /* background-color: #ccc; */
    outline: none;
    border: 1px solid #ccc;
    border-right: none;

    font-size: 15px;
    padding: 10px;

}


.button-create-grid {
    outline: none;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 10px;

}


.user-choices {
    font-size: .8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.disabled {
    pointer-events: none; 
    opacity: 0.5;
    cursor: not-allowed;
}

.radio-container {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
}


.radio-lable-container {
    display: flex;

}

.container-grid {
    display: flex;
    flex-direction: column;
    border: .1px solid #ccc;
    border: .1px solid black;
    width: 80vw;
    height: 80vw;
    /* background-color: aqua; */
}


.row-grid {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;

    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;


    flex-grow: 1;
    flex-shrink: 1
}


.squares {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: .1px solid #ccc;
    border: .1px solid black;

    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;

    flex-grow: 1;
    flex-shrink: 1;

    /* transition: background-color 3s ease-out; */

}


@media (min-width: 1024px) {
    .container-grid {
        width: 75vh;
        height: 75vh;
    }

}