@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
    --grid-border: 0.5px solid rgba(0, 0, 0, 0.3);
    --grid-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}


/* * {
    border: 2px solid lime;
} */

html {
    font-family: 'Chewy', cursive;

}


body {
    font-family: 'Chewy', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: fit-content;
    padding-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: white;

    cursor: url('paintbrush-simple.svg') 10 10, auto;
}

.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: white;
    padding: 5px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

.logo {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.material-symbols-outlined.palette {
    margin: 0;
}

.about {
    list-style: none;
    /* border: 2px solid red; */
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
    margin: 0;
}

.about:hover {
    color: #4e9bde;
    /* Accent color */
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: white;
    gap: 20px;
}


.user-selection-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: linear-gradient(135deg, #a0c4ff, #ffffff); */
    background-image: url('paint.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(34, 34, 34, 0.7);
    /* border: 2px solid red; */

}

h2 {
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-shadow: var(--grid-shadow);

}


.user-input-container {

    border: none;
    /* border: 2px solid red; */
    width: 100%;
    /* margin-bottom: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;

}


.input-num-squares,
.button-create-grid {
    height: 45px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #222;
    font-size: 16px;
    font-family: 'Chewy', cursive;
    transition: all 0.3s ease;
}

.input-num-squares {
    background-color: #f8f8f8;
    color: black;
    width: 80px;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    cursor: text;
}

.button-create-grid {
    background-color: #222;
    color: white;
    width: 120px;
    padding: 10px;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.grid-toolbar-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.toolbars {
    display: flex;
    gap: 1px;
    align-self: center;
}

.user-choices {
    /* font-size: .8rem; */
    width: 100%;
    display: flex;
    justify-content: space-around;

}




.radio-container {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-family: 'Chewy', cursive;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    /* padding: 10px; */
    color: white;
}

.radio-label-container {
    position: relative;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.user-choices input[type="radio"] {
    transform: scale(1.3);
    /* Adjust size */
    margin-right: 5px;
}



.color-option-title,
.opacity-option-title {
    font-size: 22px;
}


.container-grid {
    display: flex;
    flex-direction: column;
    border: .1px solid #ccc;
    border: .1px solid black;
    border: .5px solid rgba(0, 0, 0, 0.3);
    width: 90vw;
    height: 90vw;
    box-shadow: var(--grid-shadow)
}


.row-grid {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;

    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;


    flex-grow: 1;
    flex-shrink: 1
}



.squares {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: .5px solid #ccc;
    border: .5px solid rgba(0, 0, 0, 0.3);

    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;

    flex-grow: 1;
    flex-shrink: 1;

    cursor: url('paintbrush-simple.svg') 10 10, auto;
}

.squares.no-grid-lines {
    border: none;
}


.button {
    margin-bottom: 1.5rem;
    font-family: monospace;
    font-family: 'Chewy', cursive;
    /* background-color: #d32f2f; */
    color: white;
    color: black;
    font-size: .5rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    flex: 1;
}

.toggle-grid-button:active {
    /* box-shadow: 0px 2px 0px #a00; */
    transform: translateY(2px);
}


#colorPicker {
    visibility: hidden;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    aspect-ratio: 1/1;
    padding: 2px;
    outline: none;
    cursor: pointer;
}


.is-on {
    background-color: #4e9bde;
    color: white;
}

.tool-status {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.material-symbols-outlined.colorPicker-palette {
    font-size: 22px;
    color: red;
    margin-left: 3px;
    cursor: pointer;
    border: 1px solid #222;
    background-color: white;
    border-radius: 2px;
    user-select: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




@media (min-width: 1024px) {

    /* * {
        border: 1px solid lime;
    } */

    body {
        font-family: 'Chewy', cursive;
        /* border: 2px solid red; */
        font-size: 1rem;
        box-sizing: border-box;
        margin: 0;
        padding-top: 2rem;
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;

    }

    .navbar {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        color: #222;
        padding: 5px 20px 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

    }

    h2 {
        color: white;
        /* color: #222; */

        /* font-size: 2.5rem; */
        font-size: 4.25rem;
        /* margin-top: 0; */
        margin-bottom: 3rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .container-grid {
        width: 85vh;
        height: 85vh;
    }


    .main-container {

        padding: 0;
        margin: 0;
        gap: 10px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        /* justify-content: flex-end; */
        /* justify-content: flex-start; */
        align-items: flex-end;
        height: 85vh;
    }

    .user-selection-container {
        background-color: #222;
        background-color: white;
        border: 1px solid #222;
        background: linear-gradient(to, #666666, #444444, #222222);
        padding: 0;
        margin: 0;
        /* border: 1px solid blue; */
        width: 30vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* justify-content: space-between; */
        justify-content: flex-start;
        align-items: center;
        /* flex-wrap: 1; */
        border-radius: 8px;
        background-color: rgba(34, 34, 34, 0.6);
        /* border: 2px solid red; */
        overflow: auto;
        scrollbar-width: none;
    }

    /* Container for input and button */
    .user-input-container {
        /* border: 2px solid red; */
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }


    .input-num-squares,
    .button-create-grid {
        /* height: 45px; */
        height: 65px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #222;
        font-size: 24px;
        font-family: 'Chewy', cursive;
        transition: all 0.3s ease;
    }

    .input-num-squares {
        background-color: #f8f8f8;
        color: black;
        width: 120px;
        padding: 10px;
        text-align: center;
        border-top-left-radius: 37px;
        border-bottom-left-radius: 37px;
        cursor: text;
    }

    .button-create-grid {
        background-color: #222;
        color: white;
        width: 180px;
        padding: 10px;
        text-align: center;
        border-top-right-radius: 37px;
        border-bottom-right-radius: 37px;
        cursor: pointer;
    }

    .user-choices {
        /* border: 2px solid red; */
        color: white;
        color: #222;
        display: flex;
        flex-direction: column;
    }

    .material-symbols-outlined.tool {
        font-size: 28px;
    }

    .icon-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        aspect-ratio: 1/1;
        padding: 2px;
        cursor: pointer;
    }

    .grid-toolbar-container {
        display: flex;
        flex-direction: row;
        gap: 3px;
    }

    .toolbars {
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-self: flex-start;
    }


    .about {
        list-style: none;
        /* border: 2px solid red; */
        text-decoration: none;
        color: #222;
        font-size: 1rem;
        transition: color 0.3s ease;
        margin: 0;
    }

}