@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
    --grid-border: 0.5px solid rgba(0, 0, 0, 0.3);
    --grid-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

html {
    font-family: 'Chewy ', cursive;
}


body {
    font-family: 'Chewy ', cursive;
    /* border: 2px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    height: fit-content;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

    cursor: url('paintbrush-simple.svg') 10 10, auto;
}


.user-selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Chewy ', cursive;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    text-shadow: var(--grid-shadow);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: white;
    /* background-color: #ccc; */


}

.user-input-container {

    border: none;
    /* border: 2px solid red; */
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-num-squares {
    /* background-color: #ccc; */
    outline: none;
    border: .5px solid #ccc;
    border-right: none;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    flex-shrink: 1;
    /* height: 40px; */

}

.button-container{
    display: flex;
    gap: 2px;
    width: 100%;

}

.button-create-grid {
    outline: none;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 10px;
    width: fit-content;
    height: 40px;
    flex-shrink: 0;
    font-family: 'Chewy ', cursive;

}


.user-choices {
    font-size: .8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.radio-container {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    font-family: 'Chewy ', cursive;
    border: 2px solid red;
}


.radio-lable-container {
    display: flex;

}

.container-grid {
    display: flex;
    flex-direction: column;
    border: .1px solid #ccc;
    border: .1px solid black;
    border: .5px solid rgba(0, 0, 0, 0.3);
    width: 80vw;
    height: 80vw;
    /* background-color: aqua; */
    box-shadow: var(--grid-shadow)
}


.row-grid {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;

    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;


    flex-grow: 1;
    flex-shrink: 1
}



.squares {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: .5px solid #ccc;
    border: .5px solid rgba(0, 0, 0, 0.3);

    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;

    flex-grow: 1;
    flex-shrink: 1;

    cursor: url('paintbrush-simple.svg') 10 10, auto;


    /* transition: background-color 3s ease-out; */

}

.squares.no-grid-lines {
    border: none;
}


.button {
    margin-bottom: 1rem;
    font-family: monospace;
    font-family: 'Chewy ', cursive;
    /* background-color: #d32f2f; */
    color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* box-shadow: 0px 4px 0px #a00, 0px 6px 10px rgba(0, 0, 0, 0.2); */
    border: 2px solid red;
    /* width: 100%; */
    flex: 1;
}

.show-gridlines-button:active {
    /* box-shadow: 0px 2px 0px #a00; */
    transform: translateY(2px);
}

.show-gridlines-button.toggled {
    /* background-color: #388e3c; */
}






@media (min-width: 1024px) {

    /* * {
        border: 1px solid lime;
    } */

    body {
        /* border: 2px solid red; */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2 {
        font-size: 5rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .container-grid {
        width: 80vh;
        height: 80vh;
    }

    .main-container {
        padding: 0;
        margin: 0;
        gap: 2rem;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* justify-content: flex-start; */
        align-items: flex-start;
        height: 80vh;
    }

    .user-selection-container {
        padding: 0;
        margin: 0;
        /* border: 1px solid blue; */
        width: 30vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        justify-content: flex-start;
        align-items: center;
    }

    .user-choices {
        display: flex;
        flex-direction: column;
    }

}